@import "tailwindcss";

@keyframes shine {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

.animate-shine {
  animation: shine 4s ease-in-out infinite;
}

body{
  margin: 0px;
}

*{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

